<br><br><br><br>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-5">
			<h1 style="font-size:80px;"><strong>FeedMeWhatever</strong></h1>

		</div>
	
				</div>
				

		</div>


</div>

<br><br>

<section id="photos" style="height: 318px">
						<%= image_tag("foodporn.jpg")%>
						<%= image_tag("foodporn2.jpg")%>
						<%= image_tag("foodporn3.jpg")%>
						<%= image_tag("foodporn4.jpg")%>
						<%= image_tag("foodporn4.jpg")%>
	
</section>
<br><br>
<section id="how">
	<h2 class="text-center">How it works</h2>
	<p>Hexagon mixtape knausgaard slow-carb squid. Tilde hella pok pok, umami DIY live-edge 8-bit. Fixie pinterest listicle mumblecore vice, chillwave cred next level portland twee trust fund scenester. Gastropub viral enamel pin, man braid chicharrones activated charcoal whatever listicle. Selfies single-origin coffee flexitarian irony. XOXO pok pok hammock, tbh poutine kombucha freegan vegan crucifix live-edge scenester blue bottle woke cold-pressed. Taxidermy aesthetic YOLO, edison bulb polaroid slow-carb quinoa messenger bag franzen.</p>
</section>
