<br><br><br>

<%= image_tag @user.profile_pic.url, size: "200x300", class: 'profile_pic' %>
<br>
<h1> <%= @user.first_name %></h1>





<h2> Here's all your pictures </h2>
<% @user.pictures.each do |p|%>
	<%= link_to image_tag(p.url, size: "200x200"),{:controller => "display", :action => "show", :id => p.id} %>
<% end %>
<% if @user.listing.images %>
  <% @user.listing.images.each do |i|%>
    <%= link_to image_tag(i.pic.url, size: "200x200"), {:controller => "display", :action => "show", :id => i.id} %>
  <% end %>
<% end %>

<%= link_to "Back to home", home_main_path%>
<%= link_to "Upload", images_path %>
